@import "bourbon"

@media only screen and (min-width : 992px)
	.w-page
	body
		font-size: 16px
		line-height: 24px
	.header
		padding: 20px 0 0
		position: relative
		&__inner
			max-width: 1920px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
		&__logo
			width: 200px
			max-width: none
			display: inline-block
			vertical-align: middle
		&__nav
			transform: translateY(0)
			margin-left: auto
			display: inline-block
			position: relative
			left: auto
			text-align: right
			margin-top: 15px
			display: -webkit-flex
			display: -moz-flex
			display: -ms-flex
			display: -o-flex
			display: flex
			flex-direction: column
			.nav
				opacity: 1
				margin: 0
			li
				display: inline-block
			li+li
				margin-top: 0
				margin-left: 25px
			a
				font-family: $font2
		&__btn
			margin: 0
			margin-left: 25px
			font-family: $font2
			display: block
			margin-left: auto
			margin-top: 35px
		&__toggle
			display: none

	.nav
		&__list
			display: inline-block

	.hero
		&__inner
			max-width: 1270px
			padding: 0 20px 260px
			&::after
				width: 900px
				height: 900px
				right: auto
				left: 50%
				top: -600px
				margin-left: -20px
				border-radius: 200px
			&::before
				content: ''
				position: absolute
				width: 650px
				height: 650px
				border-radius: 90px
				background-color: $color
				transform: rotate(45deg)
				right: 100%
				margin-right: 125px
				bottom: -380px
		&__pic
			right: auto
			top: 10px
			left: 50%
			max-width: none
			margin-left: -110px
		&__who
			font-size: 16px
			line-height: 20px
			margin-bottom: 50px
			max-width: 510px
		&__logo
			display: block
			font-size: 93px
			line-height: 113px
			margin-bottom: 20px
		&__title
			max-width: 510px
			font-size: 24px
			line-height: 30px
			margin-bottom: 40px
		&__offer
			margin-bottom: 50px
			max-width: 510px
		&__btn
			margin: 0
		&__scroll
			display: block
			padding: 0
			background-color: transparent
			border: none
			font-size: 0
			position: absolute
			left: 50%
			margin-left: -8px
			bottom: 0
			cursor: pointer
			&::before
				content: '\e902'
				color: $color
				font-size: 15px
				display: inline-block
				transition: all .2s
			&:hover
				&::before
					transform: translateY(10px)

	.howItWorks
		padding: 100px 0 0 
		z-index: 3
		position: relative
		&__inner
			max-width: 1100px
		&__title
			margin-bottom: 40px
		&__caption
			font-size: 24px
			line-height: 30px
			margin-bottom: 40px
		&__section
			&+&
				margin-top: 60px
		&__item
			margin-top: 0
			display: inline-block
			vertical-align: top
			margin: 0 35px
			width: calc(33.333% - 80px)
			position: relative
			&-pic
				width: 150px
				height: 150px
				margin-bottom: 30px
				&::after
					line-height: 150px
					font-size: 72px
			&-caption
				font-size: 24px
				line-height: 30px
				margin-bottom: 10px
			&+&
				&::before
					content: '\e901'
					display: block
					font-size: 18px
					color: #C2DBFB
					position: absolute
					left: -50%
					margin-left: 55px
					top: 65px

	.benefits
		margin-top: -480px
		padding-top: 1480px
		text-align: left
		padding-bottom: 0
		z-index: 2
		&::before
			width: 2000px
			height: 2000px
			margin-left: -1000px
			top: 0
			background-image: linear-gradient(135deg, #ffffff 50%, transparent 50%)
		&__inner
			max-width: 1100px
			z-index: 1
			position: relative
			&::after
				width: 680px
				height: 680px
				background-color: #fff
				border-radius: 130px
				transform: rotate(45deg)
				bottom: -390px
				right: -980px
				left: auto
				content: ''
				position: absolute
		&__pic
			height: 622px
			background-image: url(../img/benefits-pic-desc.png)
			top: 670px
			background-position: 45% 50%
			width: 2000px
			left: 50%
			margin-left: -1000px
		&__title
			transform: rotate(-45deg)
			margin-bottom: 0
			display: table
		&__logo
			display: block
			position: absolute
			z-index: 2
			transform: rotate(-45deg)
			font-size: 133px
			line-height: 1
			width: 405px
			font-family: $font2
			margin: 0
			&--1
				color: $color
				top: -210px
				left: -350px
				text-align: right
			&--2
				color: #fff
				top: -1058px
				right: -374px
				text-align: left
		&__item
			position: relative
			padding-left: 95px
			min-height: 200px
			z-index: 2
			&+&
				margin-top: 45px
			&:nth-child(odd)
				margin-left: 45%
			&:nth-child(even)
				margin-right: 45%
			&-num
				position: absolute
				font-size: 24px
				left: 95px
				transform: translateX(-90px)
				top: -20px
				&::after
					width: 60px
					height: 60px
					margin-top: -30px
					margin-left: -30px
				&::before
					content: ''
					position: absolute
					z-index: -1
					width: 160px
					height: 160px
					border-radius: 30px
					background-color: $color2
					opacity: .1
					transform: rotate(45deg)
					top: 0
					right: -15px
			&-desc
				font-size: 24px
				line-height: 34px

	.numbers
		background-color: $color
		padding: 280px 0 173px
		margin-bottom: 0
		z-index: 1
		text-align: left
		&::after
			width: 1380px
			height: 1380px
			background-color: $color
			border-radius: 260px
			transform: rotate(-45deg)
			bottom: 178px
			left: 50%
			margin-left: -590px
		&::before
			content: ''
			width: 1000px
			height: 1000px
			background-image: linear-gradient(-45deg, #fff 50%, transparent 50%)
			position: absolute
			bottom: 0
			right: 50%
			margin-right: -1100px
		&__inner
			max-width: 1100px
			z-index: 1
			background-color: transparent
			&::before
				width: 680px
				height: 680px
				background-color: #fff
				border-radius: 130px
				transform: rotate(45deg)
				top: 180px
				left: -980px
			&::after
				display: none
		&__title
			transform: rotate(-45deg)
			margin-bottom: 0
			display: table
		&__list
			&::before,
			&::after
				display: none
		&__item
			position: relative
			padding-left: 95px
			min-height: 210px
			&+&
				margin-top: 50px
			&:nth-child(odd)
				margin-left: 40%
			&:nth-child(even)
				margin-right: 45%
				margin-left: 5%
			&-value
				font-size: 93px
				line-height: 113px
				&::before
					content: ''
					position: absolute
					width: 160px
					height: 160px
					border-radius: 30px
					background-color: #fff
					opacity: .1
					transform: rotate(45deg)
					top: 32px
					left: 0
			&-desc
				font-size: 24px
				line-height: 34px
				margin-top: auto

	.about
		padding: 200px 0
		background-image: url(../img/about-bg-desc.jpg)
		background-position: 50% 100%
		background-repeat: no-repeat
		text-align: center
		position: relative
		opacity: .99
		margin-bottom: 200px
		&::before
			content: ''
			position: absolute
			z-index: -1
			width: 1110px
			height: 1110px
			border-radius: 210px
			background-color: #fff
			transform: rotate(45deg)
			left: 50%
			margin-left: -555px
			bottom: 130px
		&__inner
			max-width: 1100px
		&__title
			margin-bottom: 40px
		&__subtitle
			font-size: 24px
			line-height: 30px
			margin-bottom: 50px
		&__text
			max-width: 750px
			margin-left: auto
			margin-right: auto
			&+&
				margin-top: 27px
		&__sign
			display: block
			font-family: $font2
			font-size: 24px
			line-height: 30px
			font-style: italic
			max-width: 500px
			margin: 30px auto 0

	h2
		font-size: 63px
		line-height: 77px

@media only screen and (min-width : 1250px)
	.header
		&__nav
			margin-top: 0
			display: inline-block
		&__btn
			display: inline-block
			margin-left: 25px
			
	.nav
		display: block

@media only screen and (min-width : 1750px)
	.header
		position: absolute
		&__inner
			align-items: center
		&__nav
			li+li
				margin-left: 50px
		&__btn
			margin-left: 50px
			margin-top: 0

	.hero
		&__inner
			padding-top: 42px
			&::after
				top: -310px
				margin-left: 60px
		&__who
			margin-bottom: 125px
		&__pic
			top: 120px

