@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?cwhh4a");
  src: url("../fonts/icomoon.eot?cwhh4a#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?cwhh4a") format("truetype"), url("../fonts/icomoon.woff?cwhh4a") format("woff"), url("../fonts/icomoon.svg?cwhh4a#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

.hero__scroll::before, .howItWorks__item-pic::after, .howItWorks__item::before, .reviews__list .slick-next::before,
.reviews__list .slick-prev::before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #eee;
}

input:-moz-placeholder {
  color: #eee;
}

input::-moz-placeholder {
  color: #eee;
}

input:-ms-input-placeholder {
  color: #eee;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "ProximaNova-Regular", sans-serif;
  line-height: 18px;
  font-size: 14px;
  background-color: #fff;
  color: #121E5F;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body.fixed {
  overflow: hidden;
}

img,
svg {
  max-width: 100%;
  border: none;
  outline: none;
}

a {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

select::-ms-expand {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input,
textarea,
select {
  font-family: "ProximaNova-Regular", sans-serif;
}

.container, .header__inner, .hero__inner, .howItWorks__inner, .benefits__inner, .numbers__inner, .about__inner, .reviews__inner, .team__inner, .contacts__inner, .footer__inner {
  width: 100%;
  max-width: 480px;
  padding: 0 20px;
  margin: 0 auto;
}

.w-page {
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.hero__inner::after, .numbers__list::after {
  border-radius: 50px;
  background-color: #0C72F1;
  position: absolute;
  z-index: -1;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
}

.header__inner {
  position: relative;
}

.header__logo {
  font-size: 0;
  max-width: 125px;
}

.header__nav {
  position: absolute;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
  z-index: 2;
  text-align: center;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
  width: 100%;
  left: 0;
}

.header__nav .nav {
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
  margin: 20px 0 0;
}

.header__nav li + li {
  margin-top: 35px;
}

.header__nav a {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}

.header__nav a:hover {
  text-decoration: underline;
}

.header__toggle {
  right: 15px;
  top: 22px;
  position: absolute;
}

.header__btn {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  background-color: transparent;
  margin: 35px 0 50px;
  padding: 9px 25px;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.header__btn:hover {
  background-color: #fff;
  color: #0C72F1;
}

.header.opened {
  background-color: #0C72F1;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header.opened .header__inner {
  height: 100%;
  overflow: auto;
}

.header.opened .header__nav {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  position: relative;
}

.header.opened .header__nav .nav {
  opacity: 1;
}

.header.opened .header__lang {
  display: none;
}

.header.opened .header__logo #logo1 {
  fill: #0C72F1;
  stroke: #fff;
}

.header.opened .header__logo #logo2,
.header.opened .header__logo #logo3 {
  fill: #fff;
}

.header.opened .hamburger {
  color: #fff;
}

.header.opened .hamburger:hover {
  opacity: 1;
}

.header.opened .hamburger .hamburger-inner {
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition-delay: 0.25s;
  -o-transition-delay: 0.25s;
  transition-delay: 0.25s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header.opened .hamburger .hamburger-inner::before, .header.opened .hamburger .hamburger-inner::after {
  background-color: currentColor;
}

.header.opened .hamburger .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.25s ease;
  -o-transition: top 0.075s ease, opacity 0.075s 0.25s ease;
  transition: top 0.075s ease, opacity 0.075s 0.25s ease;
}

.header.opened .hamburger .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: bottom 0.075s ease, transform 0.075s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.btn {
  width: 100%;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 16px;
  line-height: 30px;
  font-family: "ProximaNova-Bold", sans-serif;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  background-color: #0C72F1;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 15px 35px rgba(12, 114, 241, 0.3);
  box-shadow: 0px 15px 35px rgba(12, 114, 241, 0.3);
  padding: 13px 15px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.btn:hover {
  -webkit-box-shadow: 0 0 0 rgba(12, 114, 241, 0.3);
  box-shadow: 0 0 0 rgba(12, 114, 241, 0.3);
}

.hero__inner {
  padding-top: 120px;
  position: relative;
}

.hero__inner::after {
  content: '';
  width: 235px;
  height: 235px;
  top: -55px;
  right: -117px;
}

.hero__who {
  font-size: 14px;
  margin: 0 0 60px;
  width: 45%;
}

.hero__pic {
  position: absolute;
  top: 50px;
  right: -50px;
}

.hero__title {
  font-size: 20px;
  line-height: 24px;
  font-family: "ProximaNova-Bold", sans-serif;
  margin: 0 0 20px;
  max-width: 350px;
}

.hero__title b {
  color: #0C72F1;
}

.hero__logo {
  display: none;
}

.hero__offer {
  margin: 0 0 40px;
}

.hero__offer b {
  display: block;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 5px;
}

.hero__scroll {
  display: none;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  height: 16px;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  -o-transition-property: opacity, filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
  -o-transition-timing-function: linear;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  overflow: visible;
  color: #fff;
}

.hamburger:hover {
  opacity: 1;
}

.hamburger-box {
  width: 30px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -6px;
  width: 30px;
  height: 2px;
  background-color: currentColor;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
  height: 2px;
  background-color: currentColor;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
  -o-transition-duration: 0.15s;
  transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -6px;
}

.hamburger-inner::after {
  bottom: -6px;
}

.hamburger .hamburger-inner {
  -webkit-transition-duration: 0.075s;
  -o-transition-duration: 0.075s;
  transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.25s ease, opacity 0.075s ease;
  -o-transition: top 0.075s 0.25s ease, opacity 0.075s ease;
  transition: top 0.075s 0.25s ease, opacity 0.075s ease;
}

.hamburger .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.25s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.25s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: bottom 0.075s 0.25s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.25s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.25s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

h2 {
  font-size: 33px;
  line-height: 40px;
  margin: 0;
  font-family: "ProximaNova-Bold", sans-serif;
}

.howItWorks {
  padding: 70px 0 0;
  text-align: center;
  position: relative;
  z-index: 2;
}

.howItWorks__title {
  margin-bottom: 10px;
}

.howItWorks__section + .howItWorks__section {
  margin-top: 30px;
}

.howItWorks__caption {
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  font-family: "ProximaNova-Bold", sans-serif;
}

.howItWorks__item {
  margin-top: 30px;
}

.howItWorks__item-pic {
  width: 100px;
  height: 100px;
  background-color: #E7F1FE;
  margin-bottom: 10px;
  margin: 0 auto 10px;
  border-radius: 50%;
}

.howItWorks__item-pic::after {
  font-size: 48px;
  color: #121E5F;
  line-height: 100px;
}

.howItWorks__item-caption {
  font-size: 16px;
  font-family: "ProximaNova-Bold", sans-serif;
  margin: 0 0 5px;
}

.howItWorks__item-text {
  margin: 0;
}

.howItWorks__item--1 .howItWorks__item-pic::after {
  content: '\e907';
}

.howItWorks__item--2 .howItWorks__item-pic::after {
  content: '\e906';
}

.howItWorks__item--3 .howItWorks__item-pic::after {
  content: '\e905';
  position: relative;
  left: 5px;
}

.howItWorks__item--4 .howItWorks__item-pic::after {
  content: '\e904';
  position: relative;
  left: 2px;
}

.howItWorks__item--5 .howItWorks__item-pic::after {
  content: '\e903';
}

.howItWorks__item::before {
  display: none;
}

.benefits {
  background-color: #0C72F1;
  padding: 45px 0 70px;
  text-align: center;
  position: relative;
  margin-top: 300px;
}

.benefits::before {
  content: '';
  position: absolute;
  width: 1000px;
  height: 1000px;
  top: -650px;
  left: 50%;
  margin-left: -500px;
  background-image: -o-linear-gradient(315deg, #ffffff 50%, #0C72F1 50%);
  background-image: linear-gradient(135deg, #ffffff 50%, #0C72F1 50%);
}

.benefits__logo {
  display: none;
}

.benefits__inner {
  position: relative;
  z-index: 1;
}

.benefits__pic {
  position: absolute;
  height: 236px;
  top: -245px;
  width: 100%;
  background-image: url(../img/benefits-pic.png);
  background-position: 50% 50%;
}

.benefits__title {
  margin-bottom: 40px;
  color: #fff;
}

.benefits__item-num {
  font-size: 20px;
  line-height: 70px;
  color: #121E5F;
  position: relative;
  opacity: .99;
  font-family: "ProximaNova-Bold", sans-serif;
  margin: 0;
}

.benefits__item-num::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.benefits__item-desc {
  color: #B6D4FB;
  font-family: "ProximaNova-Bold", sans-serif;
  margin: 15px 0 0;
}

.benefits__item-desc b {
  color: #fff;
}

.benefits__item + .benefits__item {
  margin-top: 30px;
}

.numbers {
  text-align: center;
  margin-bottom: 215px;
  position: relative;
}

.numbers::after {
  position: absolute;
  content: '';
  height: 145px;
  width: 50%;
  left: 0;
  bottom: -145px;
  background-color: #0C72F1;
}

.numbers__inner {
  background-color: #0C72F1;
  position: relative;
}

.numbers__inner::after, .numbers__inner::before {
  content: '';
  position: absolute;
  width: 500px;
  height: 100%;
  top: 0;
  background-color: #0C72F1;
}

.numbers__inner::after {
  left: 100%;
}

.numbers__inner::before {
  right: 100%;
}

.numbers__title {
  color: #fff;
  margin-bottom: 30px;
}

.numbers__list {
  position: relative;
}

.numbers__list::after, .numbers__list::before {
  content: '';
  position: absolute;
}

.numbers__list::after {
  left: 50%;
  margin-left: -140px;
  bottom: -108px;
  width: 280px;
  height: 280px;
}

.numbers__list::before {
  background-color: #fff;
  bottom: -280px;
  left: 50%;
  margin-left: 275px;
  z-index: 1;
  width: 550px;
  height: 550px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.numbers__item-value {
  font-size: 43px;
  line-height: 52px;
  font-family: "ProximaNova-Bold", sans-serif;
  color: #fff;
  margin: 0 0 5px;
}

.numbers__item-desc {
  color: #B6D4FB;
  font-family: "ProximaNova-Bold", sans-serif;
  margin: 0;
}

.numbers__item-desc b {
  color: #fff;
}

.numbers__item + .numbers__item {
  margin-top: 30px;
}

.about {
  padding-bottom: 70px;
}

.about__title {
  margin-bottom: 20px;
}

.about__subtitle {
  font-size: 20px;
  line-height: 24px;
  font-family: "ProximaNova-Bold", sans-serif;
  margin: 0 0 30px;
}

.about__text {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.about__text + .about__text {
  margin-top: 20px;
}

.about__sign {
  display: none;
}

.about__btn {
  margin-top: 70px;
}

.reviews__btn {
  display: none;
}

.reviews__list {
  padding-bottom: 55px;
}

.reviews__list .slick-next,
.reviews__list .slick-prev {
  font-size: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  bottom: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.reviews__list .slick-next::before,
.reviews__list .slick-prev::before {
  font-size: 23px;
  color: #0C72F1;
}

.reviews__list .slick-next {
  left: 50%;
  margin-left: 22px;
}

.reviews__list .slick-next:hover {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.reviews__list .slick-prev {
  right: 50%;
  margin-right: 22px;
}

.reviews__list .slick-prev:hover {
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  transform: translateX(-10px);
}

.reviews__list .slick-next::before {
  content: '\e900';
}

.reviews__list .slick-prev::before {
  content: '\e900';
  display: inline-block;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.reviews__item {
  padding-top: 50px;
}

.reviews__item-inner {
  background-color: #0C72F1;
  color: #fff;
  padding: 80px 20px 50px;
  text-align: center;
  position: relative;
}

.reviews__item-pic {
  overflow: hidden;
  position: absolute;
  border-radius: 15px;
  width: 75px;
  height: 75px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -38px;
  left: 50%;
  margin-left: -38px;
}

.reviews__item-pic img {
  max-width: 100px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
  top: -10px;
  left: -10px;
}

.reviews__item-text {
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 30px;
  font-family: "ProximaNova-Bold", sans-serif;
}

.reviews__item-name {
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 5px;
}

.reviews__item-role {
  margin: 0;
}

.team {
  padding: 100px 0 70px;
  text-align: center;
}

.team__title {
  margin-bottom: 30px;
}

.team__item {
  position: relative;
  max-width: 180px;
  margin: 0 auto;
}

.team__item::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 15px;
  width: 75px;
  height: 75px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #0C72F1;
}

.team__item-ava {
  max-width: 180px;
}

.team__item-name {
  font-family: "ProximaNova-Bold", sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 20px 0 5px;
}

.team__item-role {
  margin: 0;
}

.team__item + .team__item {
  margin-top: 40px;
}

.team__item:nth-child(odd)::after {
  left: -38px;
  top: 170px;
}

.team__item:nth-child(even)::after {
  right: -38px;
  top: -20px;
}

.contacts {
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

.contacts__inner {
  background-color: #0C72F1;
  padding: 30px 20px 40px;
}

.contacts__title {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.form {
  background-color: #0C72F1;
}

.form__group {
  border: 2px solid #FFFFFF;
  border-radius: 10px;
  position: relative;
}

.form__group + .form__group {
  margin-top: 20px;
}

.form__group--textarea {
  background-color: #fff;
}

.form__group--textarea .form__label,
.form__group--textarea .form__field {
  color: #0C72F1;
}

.form__group.onfocus .form__label {
  -webkit-transform: scale(0.7) translateY(-15px);
  -ms-transform: scale(0.7) translateY(-15px);
  transform: scale(0.7) translateY(-15px);
  opacity: 1;
}

.form__field {
  padding: 18px 20px 8px;
  background-color: transparent;
  border: none;
  width: 100%;
  color: #fff;
  font-family: "ProximaNova-Bold", sans-serif;
}

.form__label {
  font-size: 14px;
  line-height: 1;
  font-family: "ProximaNova-Bold", sans-serif;
  color: #fff;
  position: absolute;
  left: 20px;
  top: 15px;
  opacity: .5;
  cursor: pointer;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

.form__label:hover {
  opacity: 1;
}

.form__btn {
  border: 2px solid #FFFFFF;
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  padding: 8px 15px;
  font-family: "ProximaNova-Bold", sans-serif;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  margin: 30px auto 0;
  min-width: 130px;
  display: block;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.form__btn:hover {
  background-color: #fff;
  color: #0C72F1;
}

.footer {
  background-color: #121E5F;
  margin-top: -200px;
  padding-top: 250px;
  padding-bottom: 40px;
}

.footer__nav {
  display: none;
}

.footer__logo {
  max-width: 125px;
  margin: 0 auto;
}

.footer__about, .footer__copy {
  color: #888EAF;
  text-align: center;
}

.footer__about {
  margin: 15px 0 60px;
}

.footer__copy {
  margin: 0;
}

.footer__copy b {
  display: block;
  font-weight: 400;
}

@media only screen and (min-width: 992px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }
  .header {
    padding: 20px 0 0;
    position: relative;
  }
  .header__inner {
    max-width: 1920px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__logo {
    width: 200px;
    max-width: none;
    display: inline-block;
    vertical-align: middle;
  }
  .header__nav {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin-left: auto;
    display: inline-block;
    position: relative;
    left: auto;
    text-align: right;
    margin-top: 15px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .header__nav .nav {
    opacity: 1;
    margin: 0;
  }
  .header__nav li {
    display: inline-block;
  }
  .header__nav li + li {
    margin-top: 0;
    margin-left: 25px;
  }
  .header__nav a {
    font-family: "ProximaNova-Bold", sans-serif;
  }
  .header__btn {
    margin: 0;
    margin-left: 25px;
    font-family: "ProximaNova-Bold", sans-serif;
    display: block;
    margin-left: auto;
    margin-top: 35px;
  }
  .header__toggle {
    display: none;
  }
  .nav__list {
    display: inline-block;
  }
  .hero__inner {
    max-width: 1270px;
    padding: 0 20px 260px;
  }
  .hero__inner::after {
    width: 900px;
    height: 900px;
    right: auto;
    left: 50%;
    top: -600px;
    margin-left: -20px;
    border-radius: 200px;
  }
  .hero__inner::before {
    content: '';
    position: absolute;
    width: 650px;
    height: 650px;
    border-radius: 90px;
    background-color: #0C72F1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 100%;
    margin-right: 125px;
    bottom: -380px;
  }
  .hero__pic {
    right: auto;
    top: 10px;
    left: 50%;
    max-width: none;
    margin-left: -110px;
  }
  .hero__who {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 50px;
    max-width: 510px;
  }
  .hero__logo {
    display: block;
    font-size: 93px;
    line-height: 113px;
    margin-bottom: 20px;
  }
  .hero__title {
    max-width: 510px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .hero__offer {
    margin-bottom: 50px;
    max-width: 510px;
  }
  .hero__btn {
    margin: 0;
  }
  .hero__scroll {
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 0;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    bottom: 0;
    cursor: pointer;
  }
  .hero__scroll::before {
    content: '\e902';
    color: #0C72F1;
    font-size: 15px;
    display: inline-block;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }
  .hero__scroll:hover::before {
    -webkit-transform: translateY(10px);
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }
  .howItWorks {
    padding: 100px 0 0;
    z-index: 3;
    position: relative;
  }
  .howItWorks__inner {
    max-width: 1100px;
  }
  .howItWorks__title {
    margin-bottom: 40px;
  }
  .howItWorks__caption {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 40px;
  }
  .howItWorks__section + .howItWorks__section {
    margin-top: 60px;
  }
  .howItWorks__item {
    margin-top: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0 35px;
    width: -webkit-calc(33.333% - 80px);
    width: calc(33.333% - 80px);
    position: relative;
  }
  .howItWorks__item-pic {
    width: 150px;
    height: 150px;
    margin-bottom: 30px;
  }
  .howItWorks__item-pic::after {
    line-height: 150px;
    font-size: 72px;
  }
  .howItWorks__item-caption {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .howItWorks__item + .howItWorks__item::before {
    content: '\e901';
    display: block;
    font-size: 18px;
    color: #C2DBFB;
    position: absolute;
    left: -50%;
    margin-left: 55px;
    top: 65px;
  }
  .benefits {
    margin-top: -480px;
    padding-top: 1480px;
    text-align: left;
    padding-bottom: 0;
    z-index: 2;
  }
  .benefits::before {
    width: 2000px;
    height: 2000px;
    margin-left: -1000px;
    top: 0;
    background-image: -o-linear-gradient(315deg, #ffffff 50%, transparent 50%);
    background-image: linear-gradient(135deg, #ffffff 50%, transparent 50%);
  }
  .benefits__inner {
    max-width: 1100px;
    z-index: 1;
    position: relative;
  }
  .benefits__inner::after {
    width: 680px;
    height: 680px;
    background-color: #fff;
    border-radius: 130px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: -390px;
    right: -980px;
    left: auto;
    content: '';
    position: absolute;
  }
  .benefits__pic {
    height: 622px;
    background-image: url(../img/benefits-pic-desc.png);
    top: 670px;
    background-position: 45% 50%;
    width: 2000px;
    left: 50%;
    margin-left: -1000px;
  }
  .benefits__title {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-bottom: 0;
    display: table;
  }
  .benefits__logo {
    display: block;
    position: absolute;
    z-index: 2;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    font-size: 133px;
    line-height: 1;
    width: 405px;
    font-family: "ProximaNova-Bold", sans-serif;
    margin: 0;
  }
  .benefits__logo--1 {
    color: #0C72F1;
    top: -210px;
    left: -350px;
    text-align: right;
  }
  .benefits__logo--2 {
    color: #fff;
    top: -1058px;
    right: -374px;
    text-align: left;
  }
  .benefits__item {
    position: relative;
    padding-left: 95px;
    min-height: 200px;
    z-index: 2;
  }
  .benefits__item + .benefits__item {
    margin-top: 45px;
  }
  .benefits__item:nth-child(odd) {
    margin-left: 45%;
  }
  .benefits__item:nth-child(even) {
    margin-right: 45%;
  }
  .benefits__item-num {
    position: absolute;
    font-size: 24px;
    left: 95px;
    -webkit-transform: translateX(-90px);
    -ms-transform: translateX(-90px);
    transform: translateX(-90px);
    top: -20px;
  }
  .benefits__item-num::after {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
  }
  .benefits__item-num::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 160px;
    height: 160px;
    border-radius: 30px;
    background-color: #121E5F;
    opacity: .1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0;
    right: -15px;
  }
  .benefits__item-desc {
    font-size: 24px;
    line-height: 34px;
  }
  .numbers {
    background-color: #0C72F1;
    padding: 280px 0 173px;
    margin-bottom: 0;
    z-index: 1;
    text-align: left;
  }
  .numbers::after {
    width: 1380px;
    height: 1380px;
    background-color: #0C72F1;
    border-radius: 260px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 178px;
    left: 50%;
    margin-left: -590px;
  }
  .numbers::before {
    content: '';
    width: 1000px;
    height: 1000px;
    background-image: -o-linear-gradient(135deg, #fff 50%, transparent 50%);
    background-image: linear-gradient(-45deg, #fff 50%, transparent 50%);
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -1100px;
  }
  .numbers__inner {
    max-width: 1100px;
    z-index: 1;
    background-color: transparent;
  }
  .numbers__inner::before {
    width: 680px;
    height: 680px;
    background-color: #fff;
    border-radius: 130px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 180px;
    left: -980px;
  }
  .numbers__inner::after {
    display: none;
  }
  .numbers__title {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-bottom: 0;
    display: table;
  }
  .numbers__list::before, .numbers__list::after {
    display: none;
  }
  .numbers__item {
    position: relative;
    padding-left: 95px;
    min-height: 210px;
  }
  .numbers__item + .numbers__item {
    margin-top: 50px;
  }
  .numbers__item:nth-child(odd) {
    margin-left: 40%;
  }
  .numbers__item:nth-child(even) {
    margin-right: 45%;
    margin-left: 5%;
  }
  .numbers__item-value {
    font-size: 93px;
    line-height: 113px;
  }
  .numbers__item-value::before {
    content: '';
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 30px;
    background-color: #fff;
    opacity: .1;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 32px;
    left: 0;
  }
  .numbers__item-desc {
    font-size: 24px;
    line-height: 34px;
    margin-top: auto;
  }
  .about {
    padding: 200px 0;
    background-image: url(../img/about-bg-desc.jpg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    opacity: .99;
    margin-bottom: 200px;
  }
  .about::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 1110px;
    height: 1110px;
    border-radius: 210px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 50%;
    margin-left: -555px;
    bottom: 130px;
  }
  .about__inner {
    max-width: 1100px;
  }
  .about__title {
    margin-bottom: 40px;
  }
  .about__subtitle {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .about__text {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  .about__text + .about__text {
    margin-top: 27px;
  }
  .about__sign {
    display: block;
    font-family: "ProximaNova-Bold", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-style: italic;
    max-width: 500px;
    margin: 30px auto 0;
  }
  h2 {
    font-size: 63px;
    line-height: 77px;
  }
}

@media only screen and (min-width: 1250px) {
  .header__nav {
    margin-top: 0;
    display: inline-block;
  }
  .header__btn {
    display: inline-block;
    margin-left: 25px;
  }
  .nav {
    display: block;
  }
}

@media only screen and (min-width: 1750px) {
  .header {
    position: absolute;
  }
  .header__inner {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header__nav li + li {
    margin-left: 50px;
  }
  .header__btn {
    margin-left: 50px;
    margin-top: 0;
  }
  .hero__inner {
    padding-top: 42px;
  }
  .hero__inner::after {
    top: -310px;
    margin-left: 60px;
  }
  .hero__who {
    margin-bottom: 125px;
  }
  .hero__pic {
    top: 120px;
  }
}
