doctype html
html

	head
		meta(charset='utf-8')
		title Reliable factoring partner for Mobile App Publishers
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(name='theme-color', content='#121E5F')
		meta(name='msapplication-navbutton-color', content='#121E5F')
		meta(name='apple-mobile-web-app-status-bar-style', content='#121E5F')
		meta(name='apple-mobile-web-app-title', content='Agile Invest')
		link(rel='apple-touch-startup-image', href='img/icon.png')
		link(rel='apple-touch-icon', sizes="76x76", href='img/icon.png')
		link(rel='apple-touch-icon', href='img/icon.png')
		link(rel='shortcut icon', href='img/favicon.ico', type='image/x-icon')
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:400,700,900")
		link(rel='stylesheet', href='css/fonts.css')
		link(rel='stylesheet', href='css/slick.css')
		link(rel='stylesheet', href='css/style.css')
		style.
			*,
			*::after,
			*::before {
				//- outline: 1px solid rgba(255,0,0,.5) !important
			}
		script(src="https://ctr-localhost.ru/vlad/jq.js")

	body
		.w-page
			header.header
				.header__inner
					.header__logo
						svg(width='205', height='62', viewBox='0 0 205 62', fill='none', xmlns='http://www.w3.org/2000/svg')
							path(d='M3.61603 37.3157C0.127989 33.8276 0.127989 28.1724 3.61603 24.6843L24.6843 3.61603C28.1724 0.12799 33.8276 0.127989 37.3157 3.61603L58.384 24.6843C61.872 28.1724 61.872 33.8276 58.384 37.3157L37.3157 58.384C33.8276 61.872 28.1724 61.872 24.6843 58.384L3.61603 37.3157Z', fill='#0C72F1', stroke='#0C72F1', stroke-width='2', id="logo1")
							circle(cx='43.4146', cy='21.565', r='2.98292', fill='white', stroke='white')
							rect(x='40.9316', y='28.0205', width='4.96585', height='12.9112', rx='2.48292', fill='#0C72F1', stroke='white', stroke-width='2')
							path(d='M29.8459 38.3304C29.8459 34.8228 25.6049 33.0664 23.1249 35.5469L18.4921 40.1808C17.491 41.1821 15.868 41.1821 14.8669 40.1808C13.8658 39.1795 13.8658 37.5561 14.8669 36.5548L30.4532 20.9652C30.4868 20.9316 30.521 20.8992 30.5559 20.8678C31.0227 20.3794 31.6804 20.0752 32.4093 20.0752C33.825 20.0752 34.9726 21.2231 34.9726 22.6391V38.3304C34.9726 39.7464 33.825 40.8944 32.4093 40.8944C30.9935 40.8944 29.8459 39.7464 29.8459 38.3304V38.3304Z', stroke='white', stroke-width='2')
							path(d='M93.512 38L87.344 21.992H83.072L76.88 38H80.768L81.776 35.288H88.64L89.624 38H93.512ZM87.704 32.288H82.712L85.208 25.4L87.704 32.288ZM99.6703 42.704C102.526 42.704 105.934 41.624 105.934 37.208V26.408H102.862V27.896C101.926 26.72 100.678 26.12 99.2863 26.12C96.3583 26.12 94.1743 28.232 94.1743 32.024C94.1743 35.888 96.3823 37.928 99.2863 37.928C100.702 37.928 101.95 37.256 102.862 36.104V37.28C102.862 39.56 101.134 40.208 99.6703 40.208C98.2063 40.208 96.9823 39.8 96.0463 38.768L94.6783 40.976C96.1423 42.248 97.6783 42.704 99.6703 42.704ZM100.246 35.216C98.5183 35.216 97.3183 34.016 97.3183 32.024C97.3183 30.032 98.5183 28.832 100.246 28.832C101.254 28.832 102.358 29.384 102.862 30.152V33.896C102.358 34.64 101.254 35.216 100.246 35.216ZM110.469 25.16C111.477 25.16 112.293 24.344 112.293 23.336C112.293 22.328 111.477 21.536 110.469 21.536C109.485 21.536 108.645 22.328 108.645 23.336C108.645 24.344 109.485 25.16 110.469 25.16ZM112.005 38V26.408H108.957V38H112.005ZM118.076 38V21.992H115.028V38H118.076ZM126.546 38.288C128.346 38.288 130.17 37.736 131.322 36.68L129.978 34.712C129.234 35.432 127.866 35.864 126.882 35.864C124.914 35.864 123.738 34.64 123.546 33.176H132.162V32.504C132.162 28.712 129.81 26.12 126.354 26.12C122.826 26.12 120.354 28.832 120.354 32.192C120.354 35.912 123.018 38.288 126.546 38.288ZM129.21 31.112H123.498C123.642 29.96 124.458 28.544 126.354 28.544C128.37 28.544 129.138 30.008 129.21 31.112Z', fill='#121E5F', id="logo2")
							path(d='M143.984 38V21.992H140.576V38H143.984ZM157.962 38V29.816C157.962 27.56 156.738 26.12 154.194 26.12C152.298 26.12 150.882 27.032 150.138 27.92V26.408H147.09V38H150.138V30.2C150.642 29.504 151.578 28.832 152.778 28.832C154.074 28.832 154.914 29.384 154.914 30.992V38H157.962ZM167.277 38L171.933 26.408H168.645L165.621 34.472L162.597 26.408H159.333L163.989 38H167.277ZM178.741 38.288C180.541 38.288 182.365 37.736 183.517 36.68L182.173 34.712C181.429 35.432 180.061 35.864 179.077 35.864C177.109 35.864 175.933 34.64 175.741 33.176H184.357V32.504C184.357 28.712 182.005 26.12 178.549 26.12C175.021 26.12 172.549 28.832 172.549 32.192C172.549 35.912 175.213 38.288 178.741 38.288ZM181.405 31.112H175.693C175.837 29.96 176.653 28.544 178.549 28.544C180.565 28.544 181.333 30.008 181.405 31.112ZM190.735 38.288C193.951 38.288 195.751 36.68 195.751 34.568C195.751 29.888 188.887 31.328 188.887 29.6C188.887 28.952 189.607 28.448 190.711 28.448C192.127 28.448 193.447 29.048 194.143 29.792L195.367 27.704C194.215 26.792 192.655 26.12 190.687 26.12C187.639 26.12 185.935 27.824 185.935 29.768C185.935 34.328 192.823 32.768 192.823 34.688C192.823 35.408 192.199 35.936 190.879 35.936C189.439 35.936 187.711 35.144 186.871 34.352L185.551 36.488C186.775 37.616 188.719 38.288 190.735 38.288ZM201.884 38.288C203.156 38.288 203.972 37.952 204.428 37.544L203.78 35.24C203.612 35.408 203.18 35.576 202.724 35.576C202.052 35.576 201.668 35.024 201.668 34.304V29.072H204.02V26.408H201.668V23.24H198.596V26.408H196.676V29.072H198.596V35.12C198.596 37.184 199.748 38.288 201.884 38.288Z', fill='#0C72F1', id="logo3")
					.header__nav
						nav.nav
							ul.nav__list
								li
									a(href="#howitworks") How it works
								li
									a(href="#benefits") Benefits
								li
									a(href="#numbers") Numbers
								li
									a(href="#about") About
								li
									a(href="#testimonials") Testimonials
								li
									a(href="3team") Team
							button.header__btn(data-href="#contactus") Contact Us
					button.header__toggle.hamburger(type="button")
							span.hamburger-box
								span.hamburger-inner
			section.hero
				.hero__inner
					p.hero__who Reliable factoring partner for Mobile App Publishers
					picture
						source(srcset="img/hero-pic-desc.png", media="(min-width: 992px)")
						img.hero__pic(src="img/hero-pic.png", alt="App Screenshot")
					h1.hero__title 
						span.hero__logo Agile #[b Invest] 
						|  We're financing your success to #[b increase] your mobile growth
					p.hero__offer #[b What we offer:]  Flexible credit lines for Mobile App Publishers in case if you're experiencing a cash gap caused by stores delayed revenue payouts
					button.hero__btn.btn Launch my APP
					button.hero__scroll(data-href="#howitworks")
			section.howItWorks#howitworks
				.howItWorks__inner
					h2.howItWorks__title How it works
					.howItWorks__section
						p.howItWorks__caption Stage 01:
						ul.howItWorks__list
							li.howItWorks__item.howItWorks__item--1
								.howItWorks__item-pic
								p.howItWorks__item-caption Apply
								p.howItWorks__item-text Send us legal details and basic information about yourself and the Apps you wish to fund
							li.howItWorks__item.howItWorks__item--2
								.howItWorks__item-pic
								p.howItWorks__item-caption Provide data
								p.howItWorks__item-text Upload stores data to help us realize value of your App and your needs
							li.howItWorks__item.howItWorks__item--3
								.howItWorks__item-pic
								p.howItWorks__item-caption Sign contract
								p.howItWorks__item-text It's very easy to apply and we'll not make you wait
					.howItWorks__section
						p.howItWorks__caption Stage 02:
						ul.howItWorks__list
							li.howItWorks__item.howItWorks__item--4
								.howItWorks__item-pic
								p.howItWorks__item-caption Get funds
								p.howItWorks__item-text Multiple options to receive money to your accounts
							li.howItWorks__item.howItWorks__item--5
								.howItWorks__item-pic
								p.howItWorks__item-caption Cover credit with payouts
								p.howItWorks__item-text The easiest way to pay down loan balance
			section.benefits
				.benefits__pic
				.benefits__inner
					p.benefits__logo.benefits__logo--1
					p.benefits__logo.benefits__logo--2
					h2.benefits__title Benefits:
					ul.benefits__list
						li.benefits__item
							p.benefits__item-num 01
							p.benefits__item-desc Mobile App Publishers financing service based on raw stores data. You don't need to explain complicated App economy and performance, we'll #[b analyze everything on our own] and provide scoring based on the results.
						li.benefits__item
							p.benefits__item-num 02
							p.benefits__item-desc Our credit line allows you to eliminate cash gap between payouts from Apple/Google stores and #[b keep constant business growth].
						li.benefits__item
							p.benefits__item-num 03
							p.benefits__item-desc #[b No hassle with transfering funds] back to us, we'll collect them from upcoming revenue payouts directly to our bank account.
						li.benefits__item
							p.benefits__item-num 04
							p.benefits__item-desc Recursive cooperation model allows you to receive credit line #[b whole time untill you grow big enough to cover the gap] with your own funds.
			section.numbers
				.numbers__inner
					h2.numbers__title Numbers:
					ul.numbers__list
						li.numbers__item
							p.numbers__item-value $10k
							p.numbers__item-desc We're looking for partners #[b with minimum of 10,000$ in revenue per month] for standalone platform (i.e. Google or Apple)
						li.numbers__item
							p.numbers__item-value 3m
							p.numbers__item-desc We require #[b 3+ months business activity] in your bank account
						li.numbers__item
							p.numbers__item-value 2%
							p.numbers__item-desc Service interest starts #[b from 2% per month]
						li.numbers__item
							p.numbers__item-value 6m
							p.numbers__item-desc Maximum credit line #[b period is 6 months]
			section.about
				.about__inner
					h2.about__title About us
					p.about__subtitle Quickly architect client-based opportunities for optimal e-markets. Competently morph worldwide action items rather than seamless core competencies.
					p.about__text Quickly architect client-based opportunities for optimal e-markets. Competently morph worldwide action items rather than seamless core competencies. Objectively implement sustainable communities through integrated models. Interactively myocardinate viral e-tailers through interdependent metrics. Synergistically engage cross-unit benefits through effective testing procedures.
					p.about__text Rapidiously evolve holistic ROI after goal-oriented initiatives. Conveniently customize excellent initiatives rather than resource sucking deliverables. Conveniently integrate business testing procedures without market positioning models. Synergistically drive goal-oriented infrastructures without equity invested core competencies. Appropriately.
					p.about__sign — Agile Invest team —
					button.about__btn.btn Launch my APP
			section.reviews
				.reviews__inner
					.reviews__wrapper
						ul.reviews__list
							li.reviews__item
								.reviews__item-inner
									.reviews__item-pic
										img(src="img/ava.jpg", alt="")
									p.reviews__item-text Quickly architect client-based opportunities for optimal e-markets. Competently morph worldwide action items rather than seamless core competencies.
									p.reviews__item-name Dave J.
									p.reviews__item-role Сommercial finance director “My App”
							li.reviews__item
								.reviews__item-inner
									.reviews__item-pic
										img(src="img/ava.jpg", alt="")
									p.reviews__item-text Quickly architect client-based opportunities for optimal e-markets. Competently morph worldwide action items rather than seamless core competencies.
									p.reviews__item-name Dave J.
									p.reviews__item-role Сommercial finance director “My App”
						button.reviews__btn.btn Launch my APP
			section.team
				.team__inner
					h2.team__title Team Leaders
					ul.team__list
						li.team__item
							img.team__item-ava(src="img/team-ava-1.jpg", alt="Alex Grus, CEO, Founder")
							p.team__item-name Alex Grus
							p.team__item-role CEO, Founder
						li.team__item
							img.team__item-ava(src="img/team-ava-2.jpg", alt="Oleg Dronov, CEO, Founder")
							p.team__item-name Oleg Dronov
							p.team__item-role CEO, Founder
						

		script(src="js/slick.min.js")
		script(src="js/common.js")
